In [1]:

## [1-1] 모듈로딩 
import pandas as pd
import numpy as np

from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression

import matplotlib.pyplot as plt

import graphviz

ModuleNotFoundError: No module named 'graphviz'

In [2]:
filename='../data/used_cars_data.csv'
irisDF= pd.DataFrame(pd.read_csv(filename))

In [3]:
irisDF.head()

,S.No.,Name,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,New_Price,Price
0,0,Maruti Wagon R LXI CNG,Mumbai,2010,72000,CNG,Manual,First,26.6 km/kg,998 CC,58.16 bhp,5.0,NaN,1.75
1,1,Hyundai Creta 1.6 CRDi SX Option,Pune,2015,41000,Diesel,Manual,First,19.67 kmpl,1582 CC,126.2 bhp,5.0,NaN,12.50
2,2,Honda Jazz V,Chennai,2011,46000,Petrol,Manual,First,18.2 kmpl,1199 CC,88.7 bhp,5.0,8.61 Lakh,4.50
3,3,Maruti Ertiga VDI,Chennai,2012,87000,Diesel,Manual,First,20.77 kmpl,1248 CC,88.76 bhp,7.0,NaN,6.00
4,4,Audi A4 New 2.0 TDI Multitronic,Coimbatore,2013,40670,Diesel,Automatic,Second,15.2 kmpl,1968 CC,140.8 bhp,5.0,NaN,17.74

In [252]:
irisDF.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7253 entries, 0 to 7252
Data columns (total 14 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   S.No.              7253 non-null   int64
 1   Name               7253 non-null   object
 2   Location           7253 non-null   object
 3   Year               7253 non-null   int64
 4   Kilometers_Driven  7253 non-null   int64
 5   Fuel_Type          7253 non-null   object
 6   Transmission       7253 non-null   object
 7   Owner_Type         7253 non-null   object
 8   Mileage            7251 non-null   object
 9   Engine             7207 non-null   object
 10  Power              7207 non-null   object
 11  Seats              7200 non-null   float64
 12  New_Price          1006 non-null   object
 13  Price              6019 non-null   float64
dtypes: float64(2), int64(3), object(9)
memory usage: 793.4+ KB

In [254]:
filename='../data/used_cars_data.csv'
carDF= pd.DataFrame(pd.read_csv(filename))

cars=carDF.copy()
print(f'There are {cars.shape[0]} rows and {cars.shape[1]} columns') # fstring

There are 7253 rows and 14 columns

In [255]:
cars.head(5)

,S.No.,Name,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,New_Price,Price
0,0,Maruti Wagon R LXI CNG,Mumbai,2010,72000,CNG,Manual,First,26.6 km/kg,998 CC,58.16 bhp,5.00000,NaN,1.75000
1,1,Hyundai Creta 1.6 CRDi SX Option,Pune,2015,41000,Diesel,Manual,First,19.67 kmpl,1582 CC,126.2 bhp,5.00000,NaN,12.50000
2,2,Honda Jazz V,Chennai,2011,46000,Petrol,Manual,First,18.2 kmpl,1199 CC,88.7 bhp,5.00000,8.61 Lakh,4.50000
3,3,Maruti Ertiga VDI,Chennai,2012,87000,Diesel,Manual,First,20.77 kmpl,1248 CC,88.76 bhp,7.00000,NaN,6.00000
4,4,Audi A4 New 2.0 TDI Multitronic,Coimbatore,2013,40670,Diesel,Automatic,Second,15.2 kmpl,1968 CC,140.8 bhp,5.00000,NaN,17.74000

In [256]:
cars.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7253 entries, 0 to 7252
Data columns (total 14 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   S.No.              7253 non-null   int64
 1   Name               7253 non-null   object
 2   Location           7253 non-null   object
 3   Year               7253 non-null   int64
 4   Kilometers_Driven  7253 non-null   int64
 5   Fuel_Type          7253 non-null   object
 6   Transmission       7253 non-null   object
 7   Owner_Type         7253 non-null   object
 8   Mileage            7251 non-null   object
 9   Engine             7207 non-null   object
 10  Power              7207 non-null   object
 11  Seats              7200 non-null   float64
 12  New_Price          1006 non-null   object
 13  Price              6019 non-null   float64
dtypes: float64(2), int64(3), object(9)
memory usage: 793.4+ KB

In [257]:
# msno.bar(cars)

In [258]:
cat_col = [
    "Fuel_Type",
    "Location",
    "Transmission",
    "Seats",
    "Year",
    "Owner_Type",
    
]
# Printing number of count of each unique value in each column
for column in cat_col:
    print(cars[column].value_counts())
    print("#" * 40)

Fuel_Type
Diesel      3852
Petrol      3325
CNG           62
LPG           12
Electric       2
Name: count, dtype: int64
########################################
Location
Mumbai        949
Hyderabad     876
Coimbatore    772
Kochi         772
Pune          765
Delhi         660
Kolkata       654
Chennai       591
Jaipur        499
Bangalore     440
Ahmedabad     275
Name: count, dtype: int64
########################################
Transmission
Manual       5204
Automatic    2049
Name: count, dtype: int64
########################################
Seats
5.00000     6047
7.00000      796
8.00000      170
4.00000      119
6.00000       38
2.00000       18
10.00000       8
9.00000        3
0.00000        1
Name: count, dtype: int64
########################################
Year
2015    929
2014    925
2016    886
2013    791
2017    709
2012    690
2011    579
2010    407
2018    361
2009    252
2008    207
2007    148
2019    119
2006     89
2005     68
2004     35
2003     20
2002     18
2001      8
2000      5
1998      4
1999      2
1996      1
Name: count, dtype: int64
########################################
Owner_Type
First             5952
Second            1152
Third              137
Fourth & Above      12
Name: count, dtype: int64
########################################

In [259]:
cars[['Engine','Power','Mileage']].sample(10)

       Engine      Power      Mileage
356   1997 CC  141.1 bhp    13.1 kmpl
5195  2496 CC  157.7 bhp    10.0 kmpl
4345  2967 CC  241.4 bhp   12.07 kmpl
5763  1497 CC  117.3 bhp    17.8 kmpl
4769   796 CC   40.3 bhp  33.44 km/kg
1775  1198 CC   86.7 bhp    18.0 kmpl
1251  1197 CC   78.9 bhp   20.36 kmpl
4501  1461 CC  108.5 bhp   19.98 kmpl
6957  1199 CC   88.7 bhp     0.0 kmpl
3     1248 CC  88.76 bhp   20.77 kmpl

In [260]:
typeoffuel=['CNG','LPG']
cars.loc[cars.Fuel_Type.isin(typeoffuel)].head(10)

,S.No.,Name,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,New_Price,Price
0,0,Maruti Wagon R LXI CNG,Mumbai,2010,72000,CNG,Manual,First,26.6 km/kg,998 CC,58.16 bhp,5.00000,NaN,1.75000
5,5,Hyundai EON LPG Era Plus Option,Hyderabad,2012,75000,LPG,Manual,First,21.1 km/kg,814 CC,55.2 bhp,5.00000,NaN,2.35000
127,127,Maruti Wagon R LXI CNG,Pune,2013,89900,CNG,Manual,First,26.6 km/kg,998 CC,58.16 bhp,5.00000,NaN,3.25000
328,328,Maruti Zen Estilo LXI Green (CNG),Pune,2008,42496,CNG,Manual,First,26.3 km/kg,998 CC,67.1 bhp,5.00000,NaN,1.40000
440,440,Maruti Eeco 5 STR With AC Plus HTR CNG,Kochi,2017,31841,CNG,Manual,First,15.1 km/kg,1196 CC,73 bhp,5.00000,NaN,4.70000
839,839,Maruti Alto Green LXi (CNG),Delhi,2012,65537,CNG,Manual,First,26.83 km/kg,796 CC,38.4 bhp,5.00000,NaN,2.10000
893,893,Hyundai Accent Executive CNG,Hyderabad,2010,95637,CNG,Manual,Second,13.2 km/kg,1495 CC,93.7 bhp,5.00000,NaN,1.90000
936,936,Maruti Wagon R LXI LPG BSIV,Hyderabad,2012,72000,LPG,Manual,First,26.2 km/kg,998 CC,58.2 bhp,5.00000,NaN,2.85000
987,987,Maruti Wagon R LXI DUO BSIII,Mumbai,2008,64226,LPG,Manual,First,17.3 km/kg,1061 CC,57.5 bhp,5.00000,NaN,1.45000
1135,1135,Maruti Zen Estilo LXI Green (CNG),Ahmedabad,2011,76000,CNG,Manual,First,26.3 km/kg,998 CC,67.1 bhp,5.00000,NaN,2.00000

In [261]:
cars[cars.Mileage.isnull()==True]

,S.No.,Name,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,New_Price,Price
4446,4446,Mahindra E Verito D4,Chennai,2016,50000,Electric,Automatic,First,NaN,72 CC,41 bhp,5.00000,13.58 Lakh,13.00000
4904,4904,Toyota Prius 2009-2016 Z4,Mumbai,2011,44000,Electric,Automatic,First,NaN,1798 CC,73 bhp,5.00000,NaN,12.75000

In [262]:
cars["Mileage"] = cars["Mileage"].str.rstrip(" kmpl")
cars["Mileage"] = cars["Mileage"].str.rstrip(" km/g")
#remove units
cars["Engine"] = cars["Engine"].str.rstrip(" CC")

#remove bhp and replace null with nan
cars["Power"] = cars["Power"].str.rstrip(" bhp")
cars["Power"]= cars["Power"].replace(regex="null", value = np.nan)

#verify the data
num=['Engine','Power','Mileage']
cars[num].sample(20)

     Engine   Power Mileage
2188   1248    73.9    21.1
5488   1968  147.51   16.55
7247    814    55.2    21.1
3302    796    47.3   22.74
4063   1968   174.3   14.16
1516   2982   168.5   12.55
5172   1798  138.03   14.28
4491   1197    82.9    18.5
5357   2523    62.1   15.96
5223   1497     118    17.0
6320   2179     140    16.0
4611   1248      74    22.9
3299   2982   168.5   12.55
3432   1196    86.8   18.16
1204   2179  187.74   12.35
6851   1498   108.4   21.72
6006   2987  224.34     8.7
3739   1198      74   16.47
3802   1197      82    18.9
7160   1998     112    23.8

In [263]:
cars.query("Power == '0.0'")['Power'].count()
cars.query("Mileage == '0.0'")['Mileage'].count()
cars.loc[cars["Mileage"]=='0.0','Mileage']=np.nan
cars.loc[cars["Engine"]=='0.0','Engine'].count()
cars[num].nunique()
cars[num].isnull().sum()
cars.query("Seats == 0.0")['Seats']
#seats cannot be 0 so changing it to nan and will be handled in missing value
cars.loc[3999,'Seats'] =np.nan

In [264]:
import re

new_price_num = []

# Regex for numeric + " " + "Lakh"  format
regex_power = "^\d+(\.\d+)? Lakh$"

for observation in carDF["New_Price"]:
    if isinstance(observation, str):
        if re.match(regex_power, observation):
            new_price_num.append(float(observation.split(" ")[0]))
        else:
            # To detect if there are any observations in the column that do not follow [numeric + " " + "Lakh"]  format
            # that we see in the sample output
            print(
                "The data needs furthur processing.mismatch ",
                observation,
            )
    else:
        # If there are any missing values in the New_Price column, we add missing values to the new column
        new_price_num.append(np.nan)

The data needs furthur processing.mismatch  1.28 Cr
The data needs furthur processing.mismatch  1.04 Cr
The data needs furthur processing.mismatch  1 Cr
The data needs furthur processing.mismatch  1.04 Cr
The data needs furthur processing.mismatch  1.39 Cr
The data needs furthur processing.mismatch  1.02 Cr
The data needs furthur processing.mismatch  1.4 Cr
The data needs furthur processing.mismatch  1.06 Cr
The data needs furthur processing.mismatch  1.27 Cr
The data needs furthur processing.mismatch  1.13 Cr
The data needs furthur processing.mismatch  1.36 Cr
The data needs furthur processing.mismatch  1.66 Cr
The data needs furthur processing.mismatch  1.6 Cr
The data needs furthur processing.mismatch  1.28 Cr
The data needs furthur processing.mismatch  2.3 Cr
The data needs furthur processing.mismatch  1.71 Cr
The data needs furthur processing.mismatch  1.39 Cr
The data needs furthur processing.mismatch  1.58 Cr
The data needs furthur processing.mismatch  3.75 Cr
The data needs furthur processing.mismatch  1.06 Cr

In [265]:
new_price_num = []

for observation in carDF["New_Price"]:
    if isinstance(observation, str):
        if re.match(regex_power, observation):
            new_price_num.append(float(observation.split(" ")[0]))
        else:
            # Converting values in Crore to lakhs
            new_price_num.append(float(observation.split(" ")[0]) * 100)
    else:
        # If there are any missing values in the New_Price column, we add missing values to the new column
        new_price_num.append(np.nan)

# Add the new column to the data
cars["new_price_num"] = new_price_num

# Checking the new dataframe
cars.head(5)  # Looks ok

,S.No.,Name,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,New_Price,Price,new_price_num
0,0,Maruti Wagon R LXI CNG,Mumbai,2010,72000,CNG,Manual,First,26.6,998,58.16,5.00000,NaN,1.75000,NaN
1,1,Hyundai Creta 1.6 CRDi SX Option,Pune,2015,41000,Diesel,Manual,First,19.67,1582,126.2,5.00000,NaN,12.50000,NaN
2,2,Honda Jazz V,Chennai,2011,46000,Petrol,Manual,First,18.2,1199,88.7,5.00000,8.61 Lakh,4.50000,8.61000
3,3,Maruti Ertiga VDI,Chennai,2012,87000,Diesel,Manual,First,20.77,1248,88.76,7.00000,NaN,6.00000,NaN
4,4,Audi A4 New 2.0 TDI Multitronic,Coimbatore,2013,40670,Diesel,Automatic,Second,15.2,1968,140.8,5.00000,NaN,17.74000,NaN

In [266]:
#converting object data type to category data type
cars["Fuel_Type"] = cars["Fuel_Type"].astype("category")
cars["Transmission"] = cars["Transmission"].astype("category")
cars["Owner_Type"] = cars["Owner_Type"].astype("category")
#converting datatype  
cars["Mileage"] = cars["Mileage"].astype(float)
cars["Power"] = cars["Power"].astype(float)
cars["Engine"]=cars["Engine"].astype(float)

In [267]:
cars['Current_year']=2021
cars['Ageofcar']=cars['Current_year']-cars['Year']
cars.drop('Current_year',axis=1,inplace=True)
cars.head()

,S.No.,Name,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,New_Price,Price,new_price_num,Ageofcar
0,0,Maruti Wagon R LXI CNG,Mumbai,2010,72000,CNG,Manual,First,26.60000,998.00000,58.16000,5.00000,NaN,1.75000,NaN,11
1,1,Hyundai Creta 1.6 CRDi SX Option,Pune,2015,41000,Diesel,Manual,First,19.67000,1582.00000,126.20000,5.00000,NaN,12.50000,NaN,6
2,2,Honda Jazz V,Chennai,2011,46000,Petrol,Manual,First,18.20000,1199.00000,88.70000,5.00000,8.61 Lakh,4.50000,8.61000,10
3,3,Maruti Ertiga VDI,Chennai,2012,87000,Diesel,Manual,First,20.77000,1248.00000,88.76000,7.00000,NaN,6.00000,NaN,9
4,4,Audi A4 New 2.0 TDI Multitronic,Coimbatore,2013,40670,Diesel,Automatic,Second,15.20000,1968.00000,140.80000,5.00000,NaN,17.74000,NaN,8

In [268]:
#dropping rows with name as null
# cars['Name'] = cars.dropna(subset=['Name'])

cars.isna().sum()

S.No.                   0
Name                    0
Location                0
Year                    0
Kilometers_Driven       0
Fuel_Type               0
Transmission            0
Owner_Type              0
Mileage                83
Engine                 46
Power                 175
Seats                  54
New_Price            6247
Price                1234
new_price_num        6247
Ageofcar                0
dtype: int64

In [269]:


#As mentioned in dataset car name has Brand and model so extracting it ,This can help to fill missing values of price column as brand 
cars['Brand'] = cars['Name'].str.split(' ').str[0] #Separating Brand name from the Name
cars['Model'] = cars['Name'].str.split(' ').str[1] + cars['Name'].str.split(' ').str[2]

cars.Brand.unique()

array(['Maruti', 'Hyundai', 'Honda', 'Audi', 'Nissan', 'Toyota',
       'Volkswagen', 'Tata', 'Land', 'Mitsubishi', 'Renault',
       'Mercedes-Benz', 'BMW', 'Mahindra', 'Ford', 'Porsche', 'Datsun',
       'Jaguar', 'Volvo', 'Chevrolet', 'Skoda', 'Mini', 'Fiat', 'Jeep',
       'Smart', 'Ambassador', 'Isuzu', 'ISUZU', 'Force', 'Bentley',
       'Lamborghini', 'Hindustan', 'OpelCorsa'], dtype=object)

In [270]:
col=['ISUZU','Isuzu','Mini','Land']
#correcting brand names
cars[cars.Brand.isin(col)].sample(5)

,S.No.,Name,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,New_Price,Price,new_price_num,Ageofcar,Brand,Model
1038,1038,Land Rover Range Rover TDV8 (Diesel),Bangalore,2011,55000,Diesel,Automatic,First,10.20000,4367.00000,308.00000,7.00000,NaN,67.00000,NaN,10,Land,RoverRange
1568,1568,Land Rover Discovery Sport TD4 HSE 7S,Mumbai,2017,40000,Diesel,Automatic,First,12.81000,1999.00000,148.31000,7.00000,66.39 Lakh,41.50000,66.39000,4,Land,RoverDiscovery
2604,2604,Mini Cooper Convertible S,Mumbai,2016,15000,Petrol,Automatic,First,16.82000,1998.00000,189.08000,4.00000,44.28 Lakh,35.00000,44.28000,5,Mini,CooperConvertible
5311,5311,Land Rover Freelander 2 TD4 SE,Hyderabad,2012,139000,Diesel,Automatic,First,NaN,2179.00000,115.00000,5.00000,NaN,16.75000,NaN,9,Land,RoverFreelander
4755,4755,Land Rover Range Rover Evoque 2.0 TD4 HSE Dynamic,Hyderabad,2016,52000,Diesel,Automatic,First,15.68000,1999.00000,177.00000,5.00000,74.49 Lakh,42.00000,74.49000,5,Land,RoverRange

In [271]:
#changing brandnames
cars.loc[cars.Brand == 'ISUZU','Brand']='Isuzu'
cars.loc[cars.Brand=='Mini','Brand']='Mini Cooper'
cars.loc[cars.Brand=='Land','Brand']='Land Rover'
#cars['Brand']=cars["Brand"].astype("category")

In [272]:
cars.Brand.nunique()

32

In [273]:
cars.groupby(cars.Brand).size().sort_values(ascending =False)

Brand
Maruti           1444
Hyundai          1340
Honda             743
Toyota            507
Mercedes-Benz     380
Volkswagen        374
Ford              351
Mahindra          331
BMW               312
Audi              285
Tata              228
Skoda             202
Renault           170
Chevrolet         151
Nissan            117
Land Rover         67
Jaguar             48
Fiat               38
Mitsubishi         36
Mini Cooper        31
Volvo              28
Porsche            19
Jeep               19
Datsun             17
Isuzu               5
Force               3
Bentley             2
Ambassador          1
Lamborghini         1
Hindustan           1
OpelCorsa           1
Smart               1
dtype: int64

In [274]:
cars.Model.isnull().sum()

np.int64(1)

In [275]:
cars.Model.isnull().sum()

np.int64(1)

In [276]:
#drop row with no model
cars.dropna(subset=['Model'],axis=0,inplace=True)

In [277]:
cars.Model.nunique()

726

In [278]:
cars.groupby('Model')['Model'].size().nlargest(30)

Model
SwiftDzire      189
Grandi10        179
WagonR          178
Innova2.5       145
Verna1.6        127
City1.5         122
Cityi           115
Creta1.6        110
NewC-Class      110
3Series         109
SwiftVDI         96
5Series          86
i201.2           78
SantroXing       76
XUV500W8         75
i10Sportz        75
AmazeS           69
i10Magna         69
Alto800          63
CorollaAltis     63
FigoDiesel       61
Ecosport1.5      59
A42.0            56
AltoK10          56
VitaraBrezza     55
i20Asta          54
InnovaCrysta     53
i20Sportz        53
Duster110PS      51
Fortuner4x2      50
Name: Model, dtype: int64

In [279]:
cars.describe()

,S.No.,Year,Kilometers_Driven,Mileage,Engine,Power,Seats,Price,new_price_num,Ageofcar
count,7252.00000,7252.00000,7252.00000,7169.00000,7206.00000,7077.00000,7198.00000,6019.00000,1006.00000,7252.00000
mean,3625.52551,2013.36652,58700.26269,18.34711,1616.60505,112.76871,5.28049,9.47947,22.77969,7.63348
std,2093.65947,3.25316,84433.48037,4.15791,595.32041,53.49652,0.80938,11.18792,27.75934,3.25316
min,0.00000,1996.00000,171.00000,6.40000,72.00000,34.20000,2.00000,0.44000,3.91000,2.00000
25%,1812.75000,2011.00000,34000.00000,15.30000,1198.00000,75.00000,5.00000,3.50000,7.88500,5.00000
50%,3625.50000,2014.00000,53429.00000,18.20000,1493.00000,94.00000,5.00000,5.64000,11.57000,7.00000
75%,5438.25000,2016.00000,73000.00000,21.10000,1968.00000,138.10000,5.00000,9.95000,26.04250,10.00000
max,7252.00000,2019.00000,6500000.00000,33.54000,5998.00000,616.00000,10.00000,160.00000,375.00000,25.00000

In [280]:
cars.isnull().sum()
# counting the number of missing values per row
num_missing = cars.isnull().sum(axis=1)
num_missing.value_counts()

2    5025
3    1112
0     819
1     187
4      57
5      31
6      20
7       1
Name: count, dtype: int64

In [281]:
#Investigating how many missing values per row are there for each variable
for n in num_missing.value_counts().sort_index().index:
    if n > 0:
        print("*" *30,f'\nFor the rows with exactly {n} missing values, NAs are found in:')
        n_miss_per_col = cars[num_missing == n].isnull().sum()
        print(n_miss_per_col[n_miss_per_col > 0])
        print('\n\n')

******************************
For the rows with exactly 1 missing values, NAs are found in:
Mileage      5
Price      182
dtype: int64



******************************
For the rows with exactly 2 missing values, NAs are found in:
New_Price        5025
new_price_num    5025
dtype: int64



******************************
For the rows with exactly 3 missing values, NAs are found in:
Mileage            25
Power              74
Seats               1
New_Price        1112
Price            1012
new_price_num    1112
dtype: int64



******************************
For the rows with exactly 4 missing values, NAs are found in:
Mileage          35
Power            50
Seats             6
New_Price        57
Price            23
new_price_num    57
dtype: int64



******************************
For the rows with exactly 5 missing values, NAs are found in:
Mileage           6
Engine           25
Power            30
Seats            26
New_Price        31
Price             6
new_price_num    31
dtype: int64



******************************
For the rows with exactly 6 missing values, NAs are found in:
Mileage          11
Engine           20
Power            20
Seats            20
New_Price        20
Price             9
new_price_num    20
dtype: int64



******************************
For the rows with exactly 7 missing values, NAs are found in:
Mileage          1
Engine           1
Power            1
Seats            1
New_Price        1
Price            1
new_price_num    1
dtype: int64

In [282]:
cars[num_missing==7]
col=['Engine','Power','Mileage']
cars[col].isnull().sum()

Engine      46
Power      175
Mileage     83
dtype: int64

In [283]:
cars.groupby(['Name','Year'])['Engine'].median().head(30)

Name                                           Year
Ambassador Classic Nova Diesel                 2003   1489.00000
Audi A3 35 TDI Attraction                      2014   1968.00000
Audi A3 35 TDI Premium                         2016   1968.00000
Audi A3 35 TDI Premium Plus                    2015   1968.00000
                                               2016   1968.00000
Audi A3 35 TDI Technology                      2017   1968.00000
Audi A4 1.8 TFSI                               2010   1781.00000
                                               2011   1781.00000
Audi A4 1.8 TFSI Technology Edition            2012   1798.00000
Audi A4 2.0 TDI                                2009   1968.00000
                                               2011   1968.00000
                                               2012   1968.00000
                                               2013   1968.00000
                                               2014   1968.00000
Audi A4 2.0 TDI 177 Bhp Premium Plus           2013   1968.00000
                                               2014   1968.00000
                                               2015   1968.00000
Audi A4 2.0 TDI 177 Bhp Technology Edition     2013   1968.00000
                                               2014   1968.00000
Audi A4 2.0 TDI Celebration Edition            2011   1968.00000
Audi A4 2.0 TDI Multitronic                    2009   1968.00000
                                               2010   1968.00000
                                               2011   1968.00000
                                               2012   1968.00000
                                               2013   1968.00000
                                               2014   1968.00000
                                               2015   1968.00000
Audi A4 2.0 TDI Premium Sport Limited Edition  2014   1968.00000
                                               2015   1968.00000
Audi A4 2.0 TFSI                               2011   1984.00000
Name: Engine, dtype: float64

In [284]:
cars.head()

,S.No.,Name,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,New_Price,Price,new_price_num,Ageofcar,Brand,Model
0,0,Maruti Wagon R LXI CNG,Mumbai,2010,72000,CNG,Manual,First,26.60000,998.00000,58.16000,5.00000,NaN,1.75000,NaN,11,Maruti,WagonR
1,1,Hyundai Creta 1.6 CRDi SX Option,Pune,2015,41000,Diesel,Manual,First,19.67000,1582.00000,126.20000,5.00000,NaN,12.50000,NaN,6,Hyundai,Creta1.6
2,2,Honda Jazz V,Chennai,2011,46000,Petrol,Manual,First,18.20000,1199.00000,88.70000,5.00000,8.61 Lakh,4.50000,8.61000,10,Honda,JazzV
3,3,Maruti Ertiga VDI,Chennai,2012,87000,Diesel,Manual,First,20.77000,1248.00000,88.76000,7.00000,NaN,6.00000,NaN,9,Maruti,ErtigaVDI
4,4,Audi A4 New 2.0 TDI Multitronic,Coimbatore,2013,40670,Diesel,Automatic,Second,15.20000,1968.00000,140.80000,5.00000,NaN,17.74000,NaN,8,Audi,A4New

In [285]:
for i in cars.columns:
    print(i, len(cars[i].unique()))
    
# 범주형 - encoder
# Location/Year/Fuel_Type/Transmission/Owner_type/seats/ Brand
#

S.No. 7252
Name 2040
Location 11
Year 23
Kilometers_Driven 3660
Fuel_Type 5
Transmission 2
Owner_Type 4
Mileage 438
Engine 150
Power 384
Seats 9
New_Price 626
Price 1374
new_price_num 626
Ageofcar 23
Brand 31
Model 726

In [286]:
cars.isna().sum()

S.No.                   0
Name                    0
Location                0
Year                    0
Kilometers_Driven       0
Fuel_Type               0
Transmission            0
Owner_Type              0
Mileage                83
Engine                 46
Power                 175
Seats                  54
New_Price            6246
Price                1233
new_price_num        6246
Ageofcar                0
Brand                   0
Model                   0
dtype: int64

In [287]:
cars = cars.drop(columns=['new_price_num', 'New_Price'])

In [288]:
cars = cars.dropna()

In [289]:
cars.head()

,S.No.,Name,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,Price,Ageofcar,Brand,Model
0,0,Maruti Wagon R LXI CNG,Mumbai,2010,72000,CNG,Manual,First,26.60000,998.00000,58.16000,5.00000,1.75000,11,Maruti,WagonR
1,1,Hyundai Creta 1.6 CRDi SX Option,Pune,2015,41000,Diesel,Manual,First,19.67000,1582.00000,126.20000,5.00000,12.50000,6,Hyundai,Creta1.6
2,2,Honda Jazz V,Chennai,2011,46000,Petrol,Manual,First,18.20000,1199.00000,88.70000,5.00000,4.50000,10,Honda,JazzV
3,3,Maruti Ertiga VDI,Chennai,2012,87000,Diesel,Manual,First,20.77000,1248.00000,88.76000,7.00000,6.00000,9,Maruti,ErtigaVDI
4,4,Audi A4 New 2.0 TDI Multitronic,Coimbatore,2013,40670,Diesel,Automatic,Second,15.20000,1968.00000,140.80000,5.00000,17.74000,8,Audi,A4New

In [290]:
featureDF = cars[cars.columns[[8,9,10,11]]]
targetSR = cars['Price']
print(f'featureDF : {featureDF.shape}  targetSR : {targetSR.shape}')

featureDF : (5844, 4)  targetSR : (5844,)

In [291]:
featureDF.info()

<class 'pandas.core.frame.DataFrame'>
Index: 5844 entries, 0 to 6018
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Mileage  5844 non-null   float64
 1   Engine   5844 non-null   float64
 2   Power    5844 non-null   float64
 3   Seats    5844 non-null   float64
dtypes: float64(4)
memory usage: 228.3 KB

In [292]:
targetSR

0       1.75000
1      12.50000
2       4.50000
3       6.00000
4      17.74000
         ...
6014    4.75000
6015    4.00000
6016    2.90000
6017    2.65000
6018    2.50000
Name: Price, Length: 5844, dtype: float64

In [293]:
## - 분류 시에는 훈련용/테스트용에 동일한 비율로 타겟이 배분 
## - stratify 매개변수 : 타겟 데이터셋의 클래스/라벨 비율에 맞게 학습용/테스트용 분리 
train_X, test_X, train_y, test_y = train_test_split(featureDF, targetSR,
                                                    random_state=42                                                    
                                                    )

In [294]:
print(f'[TRAIN] train_X : {train_X.shape}  train_y : {train_y.shape}')
print(f'[TEST] test_X : {test_X.shape}  test_y : {test_y.shape}')

[TRAIN] train_X : (4383, 4)  train_y : (4383,)
[TEST] test_X : (1461, 4)  test_y : (1461,)

In [295]:
## 데이터셋별로 클래스 갯수 확인
test_y.value_counts(), train_y.value_counts()

(Price
 4.50000     27
 5.50000     27
 4.25000     27
 3.00000     21
 3.50000     19
             ..
 21.67000     1
 10.09000     1
 23.19000     1
 32.80000     1
 0.99000      1
 Name: count, Length: 587, dtype: int64,
 Price
 3.50000     62
 4.50000     61
 5.50000     57
 3.25000     53
 6.50000     49
             ..
 17.85000     1
 8.37000      1
 3.33000      1
 61.25000     1
 34.88000     1
 Name: count, Length: 1157, dtype: int64)

In [296]:
train_X.isna().sum()

Mileage    0
Engine     0
Power      0
Seats      0
dtype: int64

In [297]:
from sklearn.model_selection import GridSearchCV, RandomizedSearchCV
from sklearn.linear_model import Ridge, Lasso, ElasticNet

In [298]:
## 하이퍼파라미터 dict
# param = {'penalty': ['l1', 'l2', 'elasticnet', None], 'solver':['sag']}
#  error_score='raise'.

param = {}
# param = {'penalty': ['l2'], 'solver':['liblinear']}
# param = {'penalty': ['l2',  None]}

# 패널티와  solver의 조합 찾기.


## 모델 인스턴스 생성
lmodel = LinearRegression()

## 교차검증고 ㅏ튜닝 진행 인스턴스 생성
gridCV = GridSearchCV(lmodel, param, refit=True, error_score='raise')

In [299]:
gridCV.fit(train_X, train_y)

GridSearchCV(error_score='raise', estimator=LinearRegression(), param_grid={})

In [300]:
gridCV.cv_results_

{'mean_fit_time': array([0.00285153]),
 'std_fit_time': array([0.00570307]),
 'mean_score_time': array([0.]),
 'std_score_time': array([0.]),
 'params': [{}],
 'split0_test_score': array([0.60384448]),
 'split1_test_score': array([0.62239579]),
 'split2_test_score': array([0.54319648]),
 'split3_test_score': array([0.63810799]),
 'split4_test_score': array([0.59967579]),
 'mean_test_score': array([0.60144411]),
 'std_test_score': array([0.03220214]),
 'rank_test_score': array([1], dtype=int32)}

In [301]:
## 교차 검증 및 튜닝 후 결과
print(f" 가장 좋은 성능의 cv번호: {gridCV.best_index_}")
print(f" 가장 좋은 성능의 하이퍼 파라미터 조합:  {gridCV.best_params_}")
print(f" 가장 좋은 성능의 점수: {gridCV.best_score_}")
print(f" 가장 좋은 성능의 재학습된 모델객체:  {gridCV.best_estimator_}")

 가장 좋은 성능의 cv번호: 0
 가장 좋은 성능의 하이퍼 파라미터 조합:  {}
 가장 좋은 성능의 점수: 0.6014441057099899
 가장 좋은 성능의 재학습된 모델객체:  LinearRegression()

In [302]:
## 가장 좋은 모델 선정
bestModel = gridCV.best_estimator_

bestModel.fit(train_X, train_y)

LinearRegression()

In [303]:
bestModel.score(train_X, train_y)
bestModel.score(test_X, test_y)

0.6356731080570488